@import "./Splash/SplashPage.css";
@import "./Splash/UIWindow.css";

.splash-wrapper {
    padding-top: calc(52px + 1.4rem); /* navbar height + original padding */
}

@media (max-width: 640px) {
    .splash-wrapper {
        padding-top: calc(52px + 0.95rem);
    }

    .main-splash-content {
        padding-top: 0;
    }
}